/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100vh;
    background-color: beige;
  }


  body {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    background-color: beige;
    font-family: 'Lato', sans-serif;

  }

  .sidebar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 50px;
    margin-left: 20px;
    justify-self: center;
  }

  .sidebar button {
    width: 100px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
  }

  
  /* Header Styles */

  header {
    width: 100%;
  }


  header h1 {
    background-color: #333;
    color: red;
    padding: 1rem;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Grid Styles */
  
  .grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    background-color: beige;
    align-items: normal;
    flex: 4;
  }
  
  .box {
    background-image: linear-gradient(oklab(72.1% 0.029 0.075), oklab(43.5% 0.054 0.063));
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    grid-area:auto;

    
  }

  
  .box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  img{
    padding: 20px;
    height: 200px;
    width: 300px;
  }

  
  /* Carousel Styles */
  
  .carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }

  

  
  /* Music Player Styles */
  
  .music-player {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .music-player audio {
    width: 100%;
    height: 30px;
  }
  
  /* Information Box Styles */
  
  .info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .info-box p {
    margin-bottom: 10px;
  }
  
  /* Footer Styles */
  
  #mainFooter {
    position:sticky;
    background-color: beige;
    color: black;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;

  }

  #mainFooterText {
    font-weight: 400;
    font-size: x-large;
    text-align: center;
  }
  
  
  /* Responsive Styles */
@media only screen and (max-width: 425px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr, 1fr, 1fr;
  }
   
    }
  .sidebar {
      position: sticky;
      top: 0;
      flex-direction: row;
      flex-wrap: wrap;
    }


@media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr, 1fr, 1fr;
    }
}

 @media screen and (max-width: 1024px){
  .grid {
    grid-template.columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
  }
 }
  


  
  
  
  